@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


//----Colors-----
$color--red: #D61C4E;
$color--orangered: #F77E21;
$color--orange: #FAC213;
$color--yellow: #FEF9A7;

//-----Fonts-----
$font-title: 'Inconsolata', monospace;
$font-text: 'Work Sans', sans-serif;
